<ion-view view-title="My Geysers" hide-back-button="true">
  
  <ion-nav-buttons side="left">
    <a href="#/admin/settings" class="button button-icon button-clear ion-ios-gear button-positive" menu-toggle="left">
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-plus-round button-positive" menu-toggle="left" href="#/admin/geyser-add">
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list app-list">
      <a ng-click="showGeyser(geyser)" class="item item-icon-right" ng-repeat="geyser in geysers">
        <h2>{{geyser.name}}</h2>
        <p>{{geyser.id}}</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>
  </ion-content>
</ion-view>