<ion-view view-title="My Geyser" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-icon button-clear ion-home" href="#/admin/landing"></a>
  </ion-nav-buttons>
  <ion-content>
    <a class="button button-full button-stable" ng-click="logout()">Log out</a>
    <a class="button button-full button-stable" href="#/admin/delete">Delete Geyser</a>
    <a class="button button-full button-stable" href="#/admin/landing">Delete Profile</a>
  </ion-content>
</ion-view>