<ion-view view-title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-icon button-clear ion-home" href="#/admin/landing"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list app-list">
      <a ng-click="deleteGeyser(geyser)" class="item item-icon-right" ng-repeat="geyser in geysers">
        <h2>{{geyser.name}}</h2>
        <p>{{geyser.id}}</p>
        <i class="icon ion-close-round"></i>
      </a>
    </div>
  </ion-content>
</ion-view>