<ion-view view-title="Geyser Alerts">
  <ion-content>
    <div class="list app-list">
      <div class="item">
        <h2>2016.03.08 16:23<br />{{geyser.name | uppercase}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div class="item">
        <h2>2016.03.08 16:23<br />{{geyser.name | uppercase}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </ion-content>
</ion-view>