<ion-view view-title="Add Geyser">
  <ion-content>
    <form class="form-horizontal m-t-20" name="page.form" novalidate="" ng-submit="addGeyser()">
    <div class="alert alert-danger" role="alert" ng-if="error.message">
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
        <span class="">Error: {{error.message}}</span>
    </div>
      <div class="list">
        <label class="item item-input">
          <input class="form-control" type="number" required="" placeholder="NUMBER" ng-model="vm.number">
        </label>
        <label class="item item-input">
          <input class="form-control" type="text" required="" placeholder="NAME" ng-model="vm.name">
        </label>
          <button class="button button-full button-stable" type="submit">SAVE</button>
      </div>
    </form>
  </ion-content>
</ion-view>