<ion-view view-title="{{geyser.name}}">
  <ion-content>
    <h2 class="page-heading">Set Temperature</h2>
    <div class="page-value">{{vm.temp}} °C</div>
    <div class="range range-positive">
      <input type="range" name="volume" ng-model="vm.temp" min="0" max="100" value="">
    </div>
    <div class="list app-list">
      <a href="#/admin/geyser/{{geyser.id}}/timetable" class="item item-icon-right">
        <h2>Timetable</h2>
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-toggle">
        <h2>Override switch</h2>
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <p class="item-p">Switch off geyser until next timetable ON</p>
      <div class="item item-toggle">
        <h2>Override switch</h2>
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <p class="item-p">Switch off geyser AND water supply</p>
    </div>
  </ion-content>
</ion-view>