<ion-view view-title="{{geyser.name}}">
  <ion-content>
    <div class="list app-list col-grid">
      <a href="#/admin/geyser/{{geyser.id}}/time" class="item item-icon-right" ng-repeat="item in ranges">
        <div class="row">
          <div class="col col-25">
            <h2>{{item.name}}</h2>
          </div>
          <div class="col">
            <div ng-repeat="time in item.ranges">
              <div class="row">
                <div class="col col-20">{{time.name}}</div>
                <div class="col col-70">{{time.start}} - {{time.end}}</div>
              </div>
            </div>
          </div>
        </div>
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>