<ion-view view-title="{{geyser.name}}">
  <ion-content>
    <div class="row">
      <div class="col col1 action-col"><div class="col-label1">ON</div><div class="col-label2">status</div></div>
      <div class="col col2 action-col"><div class="col-label1">52</div><div class="col-label2">water T  °C</div></div>
      <div class="col col3 action-col"><div class="col-label3">tomorrow</div><div class="col-label1">06:00</div><div class="col-label2">next on</div></div>
    </div>
    <div class="row">
      <div class="col col4 action-col"><div class="col-label1">0</div><div class="col-label2">alerts</div></div>
      <div class="col col5 action-col"><div class="col-label1"><i class="icon ion-checkmark-round"></i></div><div class="col-label2">flow</div></div>
      <div class="col col6 action-col"><div class="col-label3">today</div><div class="col-label1">22:00</div><div class="col-label2">next off</div></div>
    </div>
    <a class="button button-full button-stable" href="#/admin/geyser/{{geyser.id}}/temp">Controls</a>
    <a class="button button-full button-stable" href="#/admin/geyser/{{geyser.id}}/alerts">Alerts</a>
    <a class="button button-full button-stable" href="#/admin/geyser/{{geyser.id}}/stats1">Weekly stats</a>
  </ion-content>
</ion-view>