<ion-view view-title="{{geyser.name}}">
  <ion-content>
    <div class="time-selector">
      <div class="time-dial">
        <input type="text" value="75" class="dial1">
      </div>
    </div>
    <div class="time-selector">
      <div class="time-dial">
        <input type="text" value="10" class="dial2">
      </div>
    </div>
  </ion-content>
</ion-view>