<ion-view view-title="Add Geyser">
  <ion-content class="padding">
    <p>Nulla tincidunt rutrum ullamcorper. Praesent aliquam, justo ut pellentesque varius, sapien diam ultrices lacus, vitae molestie nisl est sed dolor.</p>
  </ion-content>
</ion-view>
