<ion-view view-title="{{geyser.name}}">
  <ion-content>
    <div class="row">
      <div class="col col7 action-col"><div class="col-label1">448</div><div class="col-label2">kwh</div></div>
      <div class="col col3 action-col"><div class="col-label1">425</div><div class="col-label2">Rand</div></div>
      <div class="col col3 action-col"><div class="col-label1">06:00</div><div class="col-label2">avg T, °C</div></div>
    </div>
    <div  class="padding">
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors">
    </canvas>
    </div>
  </ion-content>
</ion-view>