<ion-view view-title="Geyser App">
  <ion-content class="padding">
    <h3>Landing Page</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices sollicitudin ex, sit amet pharetra mauris facilisis eget. Vestibulum lobortis tellus a ante laoreet, in sollicitudin diam imperdiet. Maecenas elit est, tincidunt quis convallis at, porttitor non leo. Vestibulum aliquam lorem eu dui gravida convallis. Aenean dignissim suscipit tellus, ut ultricies est ultrices at. Proin nisi orci, egestas nec aliquam et, aliquet vel orci. Vestibulum nec turpis id tellus molestie lacinia. Curabitur orci lorem, tristique a quam quis, tincidunt feugiat lorem.</p>
  </ion-content>
</ion-view>
