<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content>
    <div class="pageintro">
      <img src="img/logo.png" style="max-width:260px; margin:0 auto; display:block;"  />
    </div>
    <form ng-submit="signin()" ng-if="!submitted">
      <div class="list">
        <label class="item item-input">
          <input type="text" type="text" required="" placeholder="EMAIL ADDRESS" ng-model="vm.email">
        </label>
        <button class="button button-full button-energized" type="submit">Request Password</button>
      </div>
    </form>
    <div class="page-message text-center" ng-if="submitted">
        <p>{{vm.message}}</p>
    </div>
    <div class="bar bar-footer bar-energized" ng-if="submitted">
        <a href="#/app/login" class="button button-icon button-stable ion-chevron-left"></a>
    </div>
  </ion-content>
</ion-view>