<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content>
    <div class="pageintro">
      <img src="img/logo.png" style="max-width:260px; margin:0 auto; display:block;"  />
    </div>
    <form ng-submit="signin()">
      <div class="list">
        <label class="item item-input">
          <input type="text" type="text" required="" placeholder="USERNAME" ng-model="vm.email">
        </label>
        <label class="item item-input">
          <input type="password" type="password" required="" placeholder="PASSWORD" ng-model="vm.password">
        </label>
        <button class="button button-full button-energized" type="submit">Log in</button>
        <a class="button button-full button-energized" href="#/app/login-forgot">Forgot Password</a>
      </div>
    </form>
  </ion-content>
</ion-view>