<ion-view view-title="Register" hide-nav-bar="true">
  <ion-content>
    <div class="pageintro">
      <img src="img/logo.png" style="max-width:260px; margin:0 auto; display:block;"  />
    </div>
    <form class="form-horizontal m-t-20" name="page.form" novalidate="" ng-submit="signup()">
    <div class="alert alert-danger" role="alert" ng-if="error.message">
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
        <span class="">Error: {{error.message}}</span>
    </div>
      <div class="list">
        <label class="item item-input">
          <input class="form-control" type="text" required="" placeholder="USER NAME" ng-model="vm.username">
        </label>
        <label class="item item-input">
          <input class="form-control" type="email" required="" placeholder="EMAIL ADDRESS" ng-model="vm.email">
        </label>
        <label class="item item-input">
          <input class="form-control" type="password" required="" placeholder="PASSWORD" ng-model="vm.password">
        </label>
          <button class="button button-full button-energized" type="submit">Register</button>
      </div>
    </form>
    <!--
    <div class="row m-t-20">
        <div class="col-sm-12 text-center">
            <p class="">Already have account? <a href="#/app/login"><b>Sign In</b></p>
        </div>
    </div>
    -->
  </ion-content>
</ion-view>