<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
          <div class="box bo1">
            <div class="pageintro">
              <img src="img/logo.png" style="max-width:260px; margin:0 auto; display:block;"  />
            </div>
            <div class="pagecontent">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod posuere arcu vel aliquet. Vestibulum non semper velit, consequat rutrum leo. Nam semper, nulla quis feugiat semper, ipsum felis euismod sem, in scelerisque ante nulla ac ligula. Maecenas ullamcorper, lacus sed iaculis placerat, elit massa dictum odio, lacinia dapibus lacus est non urna. Integer et orci rutrum, consequat dui in, tincidunt lorem.</p></div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box box2">
              <div class="pageintro">
                <img src="img/logo.png" style="max-width:260px; margin:0 auto; display:block;"  />
              </div>
              <a class="button button-full button-energized" href="#/app/login">
                  Login
                </a>
                <a class="button button-full button-energized" href="#/app/register">
                  Register
                </a>
            </div>
          </ion-slide>
        </ion-slide-box>
  </ion-content>
</ion-view>