/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$stable:                          #ecebf1 !default;
$positive:                        #007aff !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ff9500 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #4b4b4d !default;
$mid:                               #d2d3d5 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
$font-family-base: 'Roboto', sans-serif !default;
@import "www/lib/ionic/scss/ionic";


.pageintro{
    padding:40px 20px;
    margin:0;
}
.pagecontent{
    padding:20px;
}

.box{
    
}
.scroll, .slider{
    height:100%;
}
.page-holder{
    display:table;
    width:320px;
    overflow:hidden;
    height:100%;
    max-width: 320px;
    .header-holder{
        display:table-row;
        width:100%;
    }
    .content-holder{
        display:table-row;
        height:100%;
        width:100%;
    }
}



/* IONIC */
.button{
    color:#373435 !important;
    text-transform: uppercase;
}

.bar-header{
    .title{
        text-transform: uppercase;
        font-weight:bold;
    }
    button, a{
        &:before, &:after{
            color:#FFF !important;
        }
    }
    i{
        color:#FFF;
    }
}
.action-col{
    color:#FFF;
    margin:5px;
    position:relative;
    text-align: center;
    height:93px;
    &.col1{
        background-color:$assertive;
    }
    &.col2{
        background-color:$energized;
    }
    &.col3{
        background-color:$mid;
    }
    &.col4{
        background-color:$mid;
    }
    &.col5{
        background-color:$positive;
    }
    &.col6{
        background-color:$balanced;
    }
    &.col7{
        background-color:$positive;
    }

    .col-label1{
        position:absolute;
        top:38px;
        width:90%;
        font-size:24px;
        font-weight:bold;
    }
    .col-label2{
        position:absolute;
        bottom:5px;
        width:90%;
    }
    .col-label3{
        position:absolute;
        top:5px;
        width:90%;
    }
}

.app-list{
    .item{
        margin:5px 0 !important;
        background-color:$stable;
        border:none;
        h2{
            text-transform: uppercase;
            font-weight:bold;
            color:$dark;
        }
        font-weight:bold;
        color:$dark;
        i:before{
            background-color:#FFF;
            padding:5px;
            display:block;
            width:42px;
        }
    }
}

.page-heading{
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top:10px;
    font-weight:bold;
}

.page-value{
    text-align: center;
    font-size:28px;
    text-transform: uppercase;
    padding-top:10px;
    font-weight:bold;
}
.item-p{
    padding:0 0 0 16px;
}


.range input{
    background: rgba(200,196,225,1);
    background: -moz-linear-gradient(left, rgba(200,196,225,1) 0%, rgba(236,51,56,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,196,225,1)), color-stop(100%, rgba(236,51,56,1)));
    background: -webkit-linear-gradient(left, rgba(200,196,225,1) 0%, rgba(236,51,56,1) 100%);
    background: -o-linear-gradient(left, rgba(200,196,225,1) 0%, rgba(236,51,56,1) 100%);
    background: -ms-linear-gradient(left, rgba(200,196,225,1) 0%, rgba(236,51,56,1) 100%);
    background: linear-gradient(to right, rgba(200,196,225,1) 0%, rgba(236,51,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c4e1', endColorstr='#ec3338', GradientType=1 );
    background-position: center;
    background-size: 99% 2px;
    background-repeat: no-repeat;
}
.col-grid{
    .col, .row{
        margin:0;
        padding:0;
    }
    .col{
        position:relative;
        h2{
            position:absolute;
            top:50%;
            margin-top:-10px;
        }
    }
}

.time-selector{
    background-color:$stable;
    margin-bottom:10px;
    padding:10px;

    .time-dial{
        width:200px;
        margin-left:100px;
        position:relative;
        input{
            display:none;
        }
    }
}